// colors
$color01: red;
$color02: blue;

// sizes
$size01: 400px;
$size02: 150px;
$size3: 100px;
$size30: 30px;
$size16: 16px;

// fonts
$font01: 'Roboto', sans-serif; //es aris mimarTva absoluturi misamartit
$font02: 'Permanent Marker'; //es aris Senaxuli folderSi (anu mimarTva relatiuri misamarTiT

// breakpoints
$brpoint1: 1024px;
$brpoint2: 768px;
$brpoint3: 480px;
